body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    
}

#app{
    width: 100%;
    height: 100vh;
    display: flex;
}

.rating{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    margin: 0 20px;
    width: 50px;
    height: 49px;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-mask-image: url(star.svg);
    mask-image: url(star.svg);
}

.item-full{
    background-color: #d9ff00;
}